@import "~antd/dist/antd.css";

/*============ HEADER =========== */
.Rectangle {
    width: 1920px;
    height: 140px;
    object-fit: contain;
    box-shadow: 0 1px 6px 0 rgba(35, 177, 149, 0.17);
    background-color: #23b195;
  }


/*============ FOOTER ============*/

.Rectangle-17-Copy-2 {
  width: 100%;
  padding: 3% 5%;
  background-color: #211f1f;
}

.FooterHead {
  overflow: hidden;
  font-family: AvenirNext;
  margin: 10% 5% 3% 2%;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #ffffff;
}

footer a,
footer a:hover {
  color: inherit;
}

.FooterContent {
  overflow: hidden;
  font-family: AvenirNext;
  font-size: 15px;
  margin: 10% 0 10% 2%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 5%;
}

.social-media-icons {
    margin: 6px;
    width: 18px;
    height: 18px;
    color:white;
    font-size: 18px;
    background: black;
  }